div.addPost.col-md-12
  div.col-md-6
    h2 ویرایش پست
    label(for='title') عنوان
    div.form-group
      label(for='title')
      input.form-control(ng-model='form.title', name='title')
      label(for='text') متن
      div.form-group
      textarea.form-control(ng-model='form.text', cols='50', rows='15',name="text")
<<<<<<< HEAD
      button(ng-click='editPost()') ذخیره
=======
      button(ng-click='editPost()') ارسال
>>>>>>> aa34523e29c577f9f9d008989792a8efbe4fcdf1
