extends layout

block body
  div
<<<<<<< HEAD
    h2.title مدیریت اپلیکیشن پدر کسب و کار
=======
    h2.title مدیریت اپلیکیشن ساوش
      input.pull-right(type="text", ng-model="search",placeholder="جستجو")
>>>>>>> aa34523e29c577f9f9d008989792a8efbe4fcdf1
    ul.nav.navbar-nav
      li
        a(href='/') خانه
      li
        a(href='/addPost') گذاشتن پست

    div.view(ng-view)
