doctype
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
<<<<<<< HEAD
    title Business Father App
=======
    title Savosh Blog
>>>>>>> aa34523e29c577f9f9d008989792a8efbe4fcdf1
    link(rel='stylesheet', href='/css/app.css')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/bootstrap-rtl.css')
    link(rel='stylesheet', href='/css/fontiran.css')
  body
    div.container
      div.back.row
        block body
    script(src='js/lib/angular/angular.js')
    
    script(src='js/app.js')
    script(src='js/services.js')
    script(src='js/controllers.js')
    script(src='js/filters.js')
    script(src='js/directives.js')
